i, b {
  font-style: normal;
  font-weight: 400;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  background: white;
}

body, td, input, textarea {
  font-family: source sans pro, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
}

button {
  cursor: pointer;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nprogress-logo {
  display: inline-block;

  width: 100px;
  height: 20px;
  border: solid 4px #2d9;
  border-radius: 10px;

  position: relative;
}
.nprogress-logo:after {
  content: '';
  display: block;

  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40%;

  background: #2d9;
  border-radius: 3px;
}

.fade {
  transition: all 300ms linear 700ms !important;
  -webkit-transform: translate3d(0,0,0) !important;
  -moz-transform: translate3d(0,0,0) !important;
  -ms-transform: translate3d(0,0,0) !important;
  -o-transform: translate3d(0,0,0) !important;
  transform: translate3d(0,0,0) !important;
  opacity: 1 !important;
}

.fade.out {
  opacity: 0 !important;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.button {
  display: inline-block;
  text-decoration: none;

  background: #eee;
  color: #777;
  border-radius: 2px;

  padding: 8px 10px;
  font-weight: 700;
  text-align: left;
}

.button.play:before {
  content: '\25b6';
}

.button:hover {
  background: #2d9;
  color: #fff;
}

.button.primary {
  background: #2d9;
  color: #fff;
}
.button.primary:hover {
  background: #1c8;
}

.button:active {
  background: #2d9;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

.controls {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
  color: #666;
}

.controls .button {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.controls i {
  color: #999;
}

.controls b {
  color: #29d;
  font-weight: 700;
}

.controls {
  font-size: 0.9em;
}

.page-header {
  text-align: center;
  max-width: 400px;
  padding: 3em 20px;
  margin: 0 auto;
}

.page-header h1 {
  font-size: 2.0em;
  text-align: center;
  font-weight: 200;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

p.brief {
  line-height: 1.4;
  font-style: italic;
  color: #888;
}

p.brief.big {
  font-size: 1.1em;
}

@media (min-width: 480px) {
  .page-header h1 {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }
}

.page-header h1 i {
  color: #aaa;
  font-style: normal;
  font-weight: 200;
}

@media (min-width: 480px) {
  .page-header h1 {
    font-size: 3em; }
  .page-header {
    padding: 4.5em 20px 3.5em 20px;
  }
}

/* --- */

.actions {
  text-align: center;
  margin: 2em 0;
}

@media (min-width: 480px) {
  .actions {
    margin: 0em 0 3.5em 0;
  }
}

.big.button {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
}


/* ---- */

div.hr-rule {
  height: 1px;
  width: 100px;
  margin: 40px auto;
  background: #ddd;
}
.share-buttons {
  margin: 0 auto;
  text-align: center;
}
    
.displayNone {
    display: none;
}

tr.francodebe td.celdafranco {
  font-weight: 600; 
  color : red !important;
}

.bg-presente {
    background-color: #0F0 !important;
    color: #444 !important;
}

.bg-sale-franco {
    background-color: #CCCCCC !important;
    color: #444 !important;
}

.bg-franco {
    background-color: #666666 !important;
    color: #ddd !important;
}

.bg-medio-franco {
    background-color: #CCCCCC !important;
    color: #444 !important;
}

.bg-franco-compensatorio {
    background-color: #666666 !important;
    color: #EEE !important; 
}

.bg-franco-enfermo {
    background-color: #8D7E5C !important;
    color: #EEE !important; 
}

.bg-franco-permiso {
    background-color: #00CCFF !important;
    color: #444 !important; 
}

.bg-franco-vacaciones {
    background-color: #0099FF !important;
    color: #444 !important; 
}

.bg-franco-accidente {
    background-color: #CC3333 !important;
    color: #444 !important; 
}

.bg-franco-comision {
    background-color: #9999FF !important;
    color: #444 !important; 
}

.bg-franco-buenos-aires {
    background-color: #9999FF !important;
    color: #444 !important; 
}

.bg-franco-baja {
    background-color: #FF0000 !important;
    color: #FFF !important; 
}

.bg-franco-licencia {
    background-color: #9999FF !important;
    color: #444 !important; 
}

.bg-franco-medio-empresa {
    background-color: #FFFF00 !important;
    color: #444 !important; 
}

.bg-franco-empresa {
    background-color: #FFFF00 !important;
    color: #444 !important; 
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px !important;
 }

 .btn {
  margin-bottom: 0px !important;
 }

 .dropdown-menu > li > a {
    font-size: 13px;
}

.dropdown-menu > li > a:hover {
    background-color: #428BCA !important;
    color: #FFF !important;
}

.dropdown-menu {
    background-color: #FFF !important;
}

.fuente-roja {
  color: #F00;
  font-weight: 700;
  background-color: #beige !important; 
  text-align: right;
}

.fuente-negra {
  text-align: right;
  padding-right: 10px;
}

td > .fuente-negra {
  padding-right: 50px !important;
}

.fuente-verde {
  text-align: right;
  padding-right: 10px;
  color: #009900;
}

td > .fuente-verde {
  padding-right: 50px !important;
}


select, input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.input_Personal_foto {
    display: block;
    height: 34px;
    padding: 0px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.nomargin {
  margin: 0 !important;
}


.text16 {
  font-size: 16px;
}
.text17 {
  font-size: 17px;
}

.text18 {
  font-size: 18px;
}

.text22 {
  font-size: 22px;
}

.alert-info {
    background-image: linear-gradient(to bottom, #D9EDF7 0px, #B9DEF0 100%) !important;
    background-repeat: repeat-x !important;
    border-color: #9ACFEA !important;
}
.alert {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05) !important;
}
.alert-info {
    color: #31708F !important;
    background-color: #D9EDF7 !important;
    border-color: #BCE8F1 !important;
}

 .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
     float: left !important;
}

.content-wrapper {
  background-image: url("../../images/ll_fondo.fw.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

.divider30 {
  min-height: 30px;
}

.ancho {
  height: 10px !important;
}

.opaco {
  opacity: 0;

}
 a {
  cursor: pointer;
}

.tabla-ticket {
  text-align: right;
}

table .tabla-ticket td, .tabla-ticket th {
    padding: 9px 10px;
    text-align: right !important;
}

.estadis {
  text-align: right;
}

.right {text-align: right;}

#modal-estadisticasProve .modal-dialog {
    width: 745px !important;
}